<h1>Atvinnuumsókn</h1>
<form methood="post" action="/apply">
  <label for="name">Nafn</label>
  <input id="name" name="name" value="<%= data.name %>">

  <label for="email">Netfang</label>
  <input id="email" name="email" value="<%= data.email %>">

  <label for="phone">Sími</label>
  <input id="phone" name="phone" value="<%= data.phone %>">

  <label for="text">Kynning á þér</label>
  <input id="text" name="text" value="<%= data.text %>">

  <h2>Starf sem sótt er um</h2>
  <form action="">
    <input type="radio" name="programmer" value="job"> Forritari
    <input type="radio" name="designer" value="job"> Hönnuður
    <input type="radio" name="project__manager" value="job"> Verkefnastjóri
  </form>

  <button>Senda umsókn</button>
</form>